<div id="database">
    <h1>My Database</h1>
    <ul>
        <li><a href="/administrator/database/create">Thêm sản phẩm</a></li>
    </ul>

    <div class="table-list-product">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Tên sản phẩm</th>
                    <th scope="col">Công thức hóa học</th>
                    <th scope="col">Xuất xứ</th>
                </tr>
            </thead>
            <tbody>
                {{#each products}}
                <tr>
                    <th scope="row">{{sum @index 1}}</th>
                    <td>{{this.name}}</td>
                    <td>{{this.formula}}</td>
                    <td>{{this.origin}}</td>
                    <td class="data-options">
                        <a href="/administrator/database/{{this._id}}/edit">Sửa</a>
                        <a href="" data-bs-toggle="modal" data-bs-target="#confirm-delete" data-bs-id="{{this._id}}">Xóa</a>
                    </td>
                </tr>
                {{else}}
                <tr>
                    <td colspan="5">Không có dữ liệu</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="confirm-delete" tabindex="-1" aria-labelledby="confirm-deleteLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="confirm-deleteLabel">Xác nhận</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Xác nhận muốn xóa mục này!!!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-danger" id="btn-confirm-delete" data-bs-dismiss="modal">Xóa</button>
        <button type="button" class="btn btn-primary">Hủy</button>
      </div>
    </div>
  </div>
</div>

{{!-- Delete form --}}
<form id="delete-form" method="POST"></form>

<script>
    const confirmDelete = document.getElementById('confirm-delete');
    var productID;
    var deleteForm = document.getElementById('delete-form');

    if (confirmDelete) {
        confirmDelete.addEventListener('show.bs.modal', event => {
            const button = event.relatedTarget;
            productID = button.getAttribute('data-bs-id');
        });
    }

    const btnConfirmDelete = document.getElementById('btn-confirm-delete');
    btnConfirmDelete.onclick = function () {
        deleteForm.action = '/administrator/database/'+ productID +'/delete?_method=DELETE';
        deleteForm.submit();
    };
</script>