<div class="product-detail">
    <img src="/products/{{product.image}}.png" alt="Ảnh sản phẩm">
    <div class="product-info-table">
        <h1 class="product-name cpn-name">{{product.name}}</h1>
        <h2 class="product-info-field">Công thức hóa học: <span class="product-info">{{product.formula}}</span></h2>
        <h2 class="product-info-field">Đóng gói: <span class="product-info">{{product.pack}}</span></h2>
        <h2 class="product-info-field">Xuất xứ: <span class="product-info">{{product.origin}}</span></h2>
        <h2 class="product-info-field">Ứng dụng: <p class="product-info">{{{breakline product.using}}}</p></h2>
        <h2 class="product-info-field">Tính chất: <p class="product-info">{{{breakline product.description}}}</p></h2>
        <h2 class="product-info-field">Bảo quản: <p class="product-info">{{{breakline product.preserve}}}</p></h2>
    </div>
</div>

<script>
    document.title = 'Sản phẩm - Công ty TNHH TM - KT Khải Vân'
</script>